.login {
    width: 325px;
    padding: 10px;
    border: 1px solid rgb(109, 83, 83);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-size:cover;
    font-size: 12px;

}

form {
    background: rgb(220, 225, 228);
    background-size:cover;

}

.container-fluid {
    background-image: url('123.jpg.jpg');
    background-size:cover;
}
.form-group{
    font-size: 15px;
}