<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <form class="login needs-validation">
                <h1 class="text-center fs-4">RESET PASSWORD</h1>
                <div class="form-group pt-3 was-validated">
                    <label class="form-label text-black">Email</label>
                    <input type="email" class="form-control form-control-sm text-black fs-6" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Please enter Email
                    </div>
                </div>
                <div class="form-group pt-1 was-validated">
                    <label class="form-label text-black">New Password</label>
                    <input type="password" class="form-control form-control-sm text-black fs-6" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please enter new password
                    </div>
                </div>
                <div class="form-group pt-1 was-validated">
                    <label class="form-label text-black">Confirm Password</label>
                    <input type="password" class="form-control form-control-sm text-black fs-6" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please enter confirm password
                    </div>
                </div>
                <div class="text-center m-2 ">
                    <button type="submit"
                        class="btn btn-outline-secondary btn-block font-weight-bold mt-3 mb-3 fs-6 w-100">Reset
                        Password
                    </button>
                </div>
                <div class="text-center m-2 p-1">
                    <a routerLink="/login" routerLinkActive="active" class="mb-4 fs-6">Back to login</a>
                </div>
            </form>
        </div>
    </div>
</div>