<div class="container-fluid text-center d-flex justify-content-center align-items-center vh-100 bg-white ">
    <div class="row">
        <div class="col-12 border border-primary rounded bg-white">
            <div class="err">Oops !</div>
            <div class="fs-4 font-weight-bold">404-PAGE NOT FOUND</div>
            <p class="fs-6">The page you're looking for might have been removed <br>
                had its name changed or is temporarily unavailable</p>
            <a class="btn btn-primary fs-6 m-4 p-2" routerLink="/login" routerLinkActive="active">GO TO HOME</a>
        </div>
    </div>
</div>