<div class="row g-2">
    <div class="col-3">
        <div class="border border-primary rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-primary text-white fs-5">Menu</nav>
            <li><a routerLink="./flex" routerLinkActive="active">Flex</a></li>
            <li><a routerLink="./grid" routerLinkActive="active">Grid</a></li>
        </div>
    </div>
    <div class="col-9">
        <div class="border border-success rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-primary text-white fs-5">Title</nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>