.navbar {
    background-image: linear-gradient(to right, rgba(117, 96, 175, 0.644), rgba(58, 35, 35, 0.966), rgba(198, 65, 224, 0.644));
}

.navbar-toggler-icon {
    width: 20px;
}

.offcanvas {
    width: 200px;
    margin-top: 55px;
    border-radius: 10px;
}

.btn-close {
    width: 350px;
    margin-top: 6px;
    margin-right: 10px;
    align-content: end;
}

li {
    list-style-type: none;
    font-size: 20px;
    margin: 12px;
    margin-left: 30px;
    padding: 8px;
    text-align: left;

}

i {
    margin-right: 12px;
}

a {
    text-decoration: none;
}
