.navbar {
    background-image: linear-gradient(to right, rgba(117, 96, 175, 0.644), rgba(58, 35, 35, 0.966), rgba(198, 65, 224, 0.644));
}

.navbar-toggler-icon {
    width: 35px;
}

.offcanvas {
    width: 250px;
    margin-top: 57px;
}

.btn-close {
    width: 450px;
    margin-top: 6px;
    margin-right: 10px;
    align-content: end;
}

li {
    list-style-type: none;
    font-size: 23px;
    margin: 25px;
    padding: 12px;
    text-align: start;
}

i {
    margin-right: 12px;
}

.cntBox {
    position: fixed;
    background-image: linear-gradient(to right, rgb(202, 132, 132), rgb(183, 183, 199), rgb(136, 206, 136));
}

a {
    text-decoration: none;
}

.cnt {
    height: 715px;
    margin-left: 3px;
}

.col-md-3 {
    margin-left: 10px;
    text-align: left;
    background-color: rgb(234, 240, 243);
}

.col-md-8 {
    background-color: rgb(234, 240, 243);
    width: 1232px;
}