a {
    text-decoration: none;
}

li {
    list-style-type: none;
    font-size: 18px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 10px;
}

li:hover {
    font-size: 23px;
}
.navbar-container{
    text-indent: 10px;
}

.cntBox{
    height: 555px;
}