<div class="container-fluid">
    <div class="row g-0 ">
        <div class="col-6 col-md-3 border border-primary cnt gy-2 rounded">
            <nav class="navbar-container bg-primary text-white fs-4 ">Menu</nav>
            <li><a routerLink="./menu" routerLinkActive="active">Menu</a></li>
            <li><a routerLink="./component" routerLinkActive="active">Component</a></li>
        </div>
        <div class="col-sm-6 col-md-8 border border-primary cnt gy-2 rounded ">
            <nav class="navbar-container bg-primary text-white fs-4 ">Title</nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>