<div class="row g-1">
    <div class="col-3">
        <div class="border border-success rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-success text-white fs-5">Menu</nav>
            <li><a routerLink="./input" routerLinkActive="active">Input</a></li>
            <li><a routerLink="./output" routerLinkActive="active">Output</a></li>
        </div>
    </div>
    <div class="col-9">
        <div class="border border-success rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-success text-white fs-5">Input</nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>