<div class="row g-1">
    <div class="col-3">
        <div class="border border-primary rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-primary text-white fs-5">Menu</nav>
            <li><a routerLink="./content" routerLinkActive="active">Content</a></li>
            <li><a routerLink="./folder" routerLinkActive="active">Folder</a></li>
        </div>
    </div>
    <div class="col-9">
        <div class="border border-primary rounded mt-2 bg-light cntBox">
            <nav class="navbar-container bg-primary text-white fs-5">
                <router-outlet></router-outlet>
            </nav>
        </div>
    </div>
</div>