<div class="container-fluid">
    <div class="row mt-1 ">
        <div class="col-3 me-2 rounded border border-primary cnt">
            <nav class="navbar bg-primary rounded-top text-white fs-6 ">Menu</nav>
            <li><a routerLink="../card" routerLinkActive="active">Card</a></li>
            <li><a routerLink="../image" routerLinkActive="active">Image</a></li>
        </div>
        <div class="col rounded offset-md-0 border border-primary cnt">
            <nav class="navbar bg-primary rounded-top text-white fs-6 ">Item</nav>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
